
.page {
  background-color: lightgrey;
  height: 600px;
}
h1 {
  text-align: center;
}
.image-container {
  display:flex;
  justify-content: space-between;
  align-items: stretch;
  background-color: lightgrey;
  height: 50%;
}

.presta-container {
  display:flex;
  justify-content: space-between;
  align-items: stretch;
  background-color: lightgrey;
  height: 30%;
}
.prestation {
  width: 33%;
  
  text-align: center;
   border: 1px solid #ccc;
}
img {
  width: 90%;
  height: 90%;
  margin-top: 50px;
}