<div class="page">
  <div class="page">
    <h1>Nos prestations</h1>
    <div class="image-container">
        <div class="prestation">
        <img
          src="assets/preventions.jpg"
          class="block"
        />
      </div>
      <div class="prestation">
        <img
          src="assets/commande.jpg"
          class="block"
        />
      </div>
      <div class="prestation">
        <img
          src="assets/specialites.jpg"
          class="block"
        />
      </div>
    </div>
    <div class="presta-container">
      <div class="prestation">
        <h2 class="img-title">Prévention et Conseils</h2>
        <p>Notre expérience à votre service depuis 1866.
            Conseils santé, allimentation, maquillage.</p>
      </div>
      <div class="prestation">
        <h2 class="img-title">Commander</h2>
        <p>faites nous parvenir votre commande par mail ou whatsapp. Nous vous informons rapidement 
          quand elle est disponible.</p>
      </div>
      <div class="prestation">
        <h2 class="img-title">Spécialités en vente libre</h2>
        <p>Nos recettes à base de produits naturelles élaborées par nos apothicaire</p>
      </div>
    </div>
  </div>
</div>