<h1> Pharamacie</h1>
<nav>
  <ul>
    <li><a routerLink="/accueil" routerLinkActive="active" ariaCurrentWhenActive="page">Accueil</a></li>
    <li><a routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a></li>
    <li><a routerLink="/produits" routerLinkActive="active" ariaCurrentWhenActive="page">Produits</a></li>
    <li><a routerLink="/prestations" routerLinkActive="active" ariaCurrentWhenActive="page">Prestations</a></li>
    <li><a routerLink="/marques" routerLinkActive="active" ariaCurrentWhenActive="page">Marques</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>